*{
  margin:0;
  padding:0;    
}
body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
   font-size:17px;
   color:#d7e0dc;
   line-height:1.6;
   }

   #showcase{
     background-image:url('../img/showcase.jpg');
     background-size:cover;
     background-position:center;
     height: 100vh;
     display:flex;
     flex-direction:column;
     justify-content:center;
     align-items:center;
     text-align:center;
     padding:0px 15px;
    
    

   }
   
   #showcase h1 {
     font-size:60px;
     margin-bottom:10px;
     line-height:1.2;
     font-family: anton;
   }
   #showcase p{
     font-size:20px;
     margin-bottom:30px;
      }

    #showcase .button{
      font-size:18px;
      text-decoration:none;
      color:#d7e0dc;
      border:#d7e0dc 1px solid;
      padding:10px 20px;
      border-radius:10px;
      margin-top:20px;
    }
    #showcase .button:hover{
      background:#d7e0dc;
      color:black;
    }

    #section-a{
      padding:20px;
      background:#6a341c;
      color:#fff;
      text-align:center;
    }
    #container{
      background-image:url("../img/forest.jpeg");
      background-size:cover;
      height:75vh;
      background-position:center;
    }
    #container-2{
      background-image:url("../img/mountains.jpeg");
      background-size:cover;
      background-position:center;
      height:75vh;
    }
    #section-b{
      
      padding:20px;
      background:#f4f4f4;
      color:#6a341c;
      text-align:center;
    }
    #section-c{
      display:flex;
      
    }
    #section-c div{
      text-align:center;
      padding:20px;

    }
    #section-c .box-1 , #section-c .box-3{
      background:#6a341c;
      color:#fff;
    }
    #section-c .box-2 {
      background:#f9f9f9;
      color:#6a341c;
    }
    footer{
      background-color:#f9f9f9;
      text-align: center;
      color: #6a341c;
      padding:20px;
      
    }